body {
    font-family: "Comic Sans MS", serif;
    margin-top: 100px;
}

.name {
    font-weight: bold;
    font-size: 50px;
}

.details {
    display: block;
    width: 500px;
    color: #bea263;
    font-size: 25px;
}

.flex {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background-color: #fffce8;
    border: 3px solid #fffad6;
    margin-top: 20px;
}

.shopName {
    font-size: 30px;
}

.delivery {
    font-size: 20px;
    color: #b99c54;
}

.shopButton {
    width: 100px;
    height: 50px;
    background-color: #f7cd03;
    border: none;
    font-size: 20px;
}

.shopButton a {
    text-decoration: none;
    color: white
}

.img {
    width: 400px;
    height: 400px;
    border: 5px solid #fdf6c8;
}

.app {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.offerTag {
    display: block;
    margin-top: 60px;
    font-size: 40px;
    font-weight: bold;
}
