.container {
    display: flex;
    justify-content: space-around;
}

.container > *{
    width: 450px;
    height: 250px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #f0f0f0;
}

.link{
    font-size: 20px;
    color: white;
}
